@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Calistoga|Noto+Sans+KR:400,700,900&display=swap");

body {
  margin: 0;
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
